body {
	background-color: #222222;
	font-family: monospace;
}

header {
	color: #663399;
	text-align: center;
}

footer {
	font-weight: bold;
}

h3 {
	color: #663399;
	font-size: 1.5em;
}

p {
	font-size: 1.25em;
}

ul {
	font-style: italic;
	font-size: 1.25em;
}

nav {
	color: aqua;
	line-height: 1.5em;
	display: block;
}

nav li {
	display: inline;
	padding: 60px;
	list-style-type: none;
}

.certList {
	font-size: 1.75em;
	font-family: serif;
}

.emphasis {
	font-style: italic;
	font-weight: bold;
}
